
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Ce site web n'est pas un site de réservation de voyages au japon mais un site d'information sur les différentes activité et hotel à travers tous le japon.</p>
<p>Vous pourrez retrouver les meilleures activités avec les information suivantes</p>
<p> -Nom<br />
    -Adresse du lieu de l'activité<br />
    -Description</p>
<p>Ou bien sur les hotels<br />
    -Nom de l'Hotel<br/>
    -Nombre d'étoiles<br/>
    -Prix</p>