
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mons <br />
    Champs de Mars<br />
    <abbr title="Phone">GSM:</abbr>
    0478.67.01.95
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Alexis.Support@example.com">Alexis.Leclercq@Support.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Florian.Marketing@example.com">Florian.Bougeatre@Marketing.com</a>
</address>