@{
    ViewBag.Title = "Home Page";
}

<h1>Japan Travel</h1>
<br />

<p>Le site pour trouver les meilleures activités et les meilleures hotels pour votre séjour au Japon </p>
<br />

<p>Vous trouverez ici les informations détaillé sur les différentes activité et hotel en fonction des villes</p>


    Image image1 = Image.FromFile("C:\Users\User\Documents\Visual Studio 2019\ProjetRobinF\ProjetRobinF\Images.jpg");